{% trans_default_domain 'FOSUserBundle' %}
<h1>Troca de Senha</h1>
<div class="well">
    <div class="row clearfix">
        <div class="col-md-offset-1 col-md-4 column">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'Alterar'|trans }}" class="btn btn-default col-md-2" />
                </div>
            </form>
        </div>
    </div>
</div>