{% extends "::base.html.twig" %}

{% block content -%}
    <div class="well">
        <div class="row clearfix">
            <div class="col-md-12 column">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {#{{ 'Logado como:'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                    {#<a href="{{ path('fos_user_security_logout') }}">#}
                    {#{{ 'sair'|trans({}, 'FOSUserBundle') }}#}
                    {#</a>#}

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('campus') }}">
                                Cadastrar Campus ou Centro
                            </a>
                        </li>
                    </ul>

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('programacurso') }}">
                                Cadastrar Programa ou Curso
                            </a>
                        </li>
                    </ul>
                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('tipoprogramacurso') }}">
                                Cadastrar Tipo de programas
                            </a>
                        </li>
                    </ul>
                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('tipotrabalho') }}">
                                Cadastrar Tipo de Trabalho
                            </a>
                        </li>
                    </ul>

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('projeto_ficha_ficha') }}">{{ 'Ficha Catalografica'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    </ul>

                {% else %}
                    <a href="{{ path('projeto_ficha_ficha') }}">{{ 'Ficha Catalografica'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}


            </div>
        </div>
    </div>

    {#<span class="glyphicon glyphicon-pencil"><a href="{{ path('campus') }}">Cadastrar Campus</a></span>#}
    {#<span class="glyphicon glyphicon-remove"><a href='#' onclick="document.deletarform.submit();">Deletar</a></span>#}
{% endblock content %}

