{% extends "::base.html.twig" %}

{% block content -%}
    <h1>Lista de Cursos e Programas</h1>
    <div class="well">
        <table id="table-pagination" data-toggle="table" data-id-field="id" data-pagination="true"
               data-page-size="10"
               data-search="true">

            <thead>
            <tr>
                <th data-field="codigo" data-sortable="true">Código</th>
                <th data-field="Descricao" data-align="center" data-sortable="true">Nome do Curso</th>
                <th data-field="CDD" data-align="center" data-sortable="true">CDD</th>
                <th data-field="Ações" data-align="center" data-sortable="true">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('programacurso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.descricao }}</td>
                      <td>{{ entity.cdd }}</td>
                    <td>
                        <span class="glyphicon glyphicon-search"><a
                                    href="{{ path('programacurso_show', { 'id': entity.id }) }}">Vizualizar</a></span>
                        <span class="glyphicon glyphicon-pencil"><a
                                    href="{{ path('programacurso_edit', { 'id': entity.id }) }}">Editar</a></span>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <a href="{{ path('programacurso_new') }}" class="btn btn-default">Novo Curso</a>

    </div>
{% endblock %}
