{% extends "::base.html.twig" %}


{% block content -%}
    <h1>Novo Programa ou Curso</h1>

    {#{{ form(form) }}#}

    <ul class="record_actions">
        <li>
            <a href="{{ path('programacurso') }}">
                Voltar para lista
            </a>
        </li>
    </ul>


    <div class="well">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <form role="form" action="{{ path('programacurso_create') }}" method="post" {{ form_enctype(form) }}
                      class="form-horizontal">
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.descricao,{'label': 'Nome do Curso ou programa:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-4' , 'oninvalid': "setCustomValidity('Digite o nome do campus')" }}
                        )}}

                    </div>
                    <div class="form-group">
                        {{ form_row(form.tipoPrograma,{'label': 'Tipo de Programa:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-4' , 'oninvalid': "setCustomValidity('Digite o nome do campus')" }}
                        )}}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.cdd,{'label': 'CDD:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-1' , 'oninvalid': "setCustomValidity('Digite o código CDD')" }}
                        )}}
                    </div>

                    {{ form_row(form._token) }}

                    <div class=" .col-md-offset-4">
                        <div class="col-md-1 control-label">
                            {{ form_row(form.submit, { 'label': 'Salvar','attr' : { 'class' : 'btn btn-default ' } }) }}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>


{% endblock %}
