{% extends "::base.html.twig" %}

{% block content -%}
    <h1>Programas e Cursos</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('programacurso') }}">
                Voltar para lista
            </a>
        </li>
    </ul>

    <div class="well">
        <form role="form" name="deletarform" action="{{ path('programacurso_delete',{'id': entity.id}) }}" method="post" {{ form_enctype(delete_form) }}>
            <input type="hidden" name="_method" value="DELETE"/>
            <table id="table-programacurso" data-toggle="table" data-pagination="true" data-page-size="10" data-search="false">
                <thead>
                <tr>
                    <th data-field="codigo" data-sortable="true">Código</th>
                    <th data-field="descricao" data-align="center" data-sortable="true">Descrição</th>
                    <th data-field="tipograduacao" data-align="center" data-sortable="true">Tipo de Graduação</th>
                    <th data-field="cdd" data-align="center" data-sortable="true">CDD</th>
                    <th data-field="actions" data-align="center" data-sortable="true">Ações</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="{{ path('programacurso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.descricao }}</td>
                    <td>{{ entity.tipoprograma }}</td>
                    <td>{{ entity.cdd }}</td>
                    <td>
                        <span class="glyphicon glyphicon-pencil"><a
                                    href="{{ path('programacurso_edit', { 'id': entity.id }) }}">Editar</a></span>
                        <span class="glyphicon glyphicon-remove"><a href='#' onclick="document.deletarform.submit();">Deletar</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form_row(delete_form._token) }}
        </form>
    </div>>

    {#<table class="record_properties">#}
        {#<tbody>#}
        {#<tr>#}
            {#<th>Id</th>#}
            {#<td>{{ entity.id }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Descricao</th>#}
            {#<td>{{ entity.descricao }}</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}
       {#<li>{{ form(delete_form) }}</li>#}
{% endblock %}
