{% extends "::base.html.twig" %}

{% block content -%}
    <h1>Lista de Campus</h1>
    <div class="well">

        <table id="table-pagination" data-toggle="table" data-id-field="id" data-pagination="true" data-page-size="10" data-search="true">
            <thead>
                <tr>
                    <th data-field="codigo" data-sortable="true">Código</th>
                    <th data-field="nome" data-align="center" data-sortable="true">Campus</th>
                    <th data-field="actions" data-align="center" data-sortable="true">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('campus_show', { 'id': entity.id }) }}">{{ entity.id}}</a></td>
                        <td>{{ entity.nome }}</td>
                        <td>
                            <span class="glyphicon glyphicon-search"><a href="{{ path('campus_show', { 'id': entity.id }) }}">Vizualizar</a></span>
                            <span class="glyphicon glyphicon-pencil"><a href="{{ path('campus_edit', { 'id': entity.id }) }}">Editar</a></span>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <a href="{{ path('campus_new') }}" class="btn btn-default">
            Novo Campus
        </a>
    </div>


{% endblock %}
