{% extends "::base.html.twig" %}

{% block content -%}
    <h1>Novo Campus</h1>
    <ul class="record_actions">
        <li>
            <a href="{{ path('campus') }}">
                Voltar para lista
            </a>
        </li>
    </ul>
    <div class="well">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <form role="form" action="{{ path('campus_create') }}" method="post" {{ form_enctype(form) }}
                      class="form-horizontal">
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.nome,{'label': 'Nome do Campus:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-4' , 'oninvalid': "setCustomValidity('Digite o nome do campus')"}})}}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.programacursos,{'label': 'Cursos do Campus: ','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : '.input-lg col-md-6','multiselect':'true' }})}}(Segure CTRL para selecionar mais de um curso)
                    </div>
                    
                        {{ form_row(form._token) }}
                 
                    <div class=" .col-md-offset-4">
                        <div class="col-md-1 control-label">
                            {{ form_row(form.submit, { 'label': 'Salvar','attr' : { 'class' : 'btn btn-default ' } }) }}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>



{% endblock %}
