{% extends "::base.html.twig" %}

{% block content -%}
    <h1>Dados do Campus</h1>
    <ul class="record_actions">
        <li>
            <a href="{{ path('campus') }}">
                Voltar para lista
            </a>
        </li>
    </ul>
    <div class="well">

        <form role="form" name="deletarform" action="{{ path('campus_delete',{'id': entity.id}) }}" method="post" {{ form_enctype(delete_form) }}>
            <input type="hidden" name="_method" value="DELETE" />
            <table id="table-campus" data-toggle="table" data-pagination="true" data-page-size="10" data-search="true">
                <thead>
                    <tr>
                        <th data-field="codigo" data-sortable="true">Código</th>
                        <th data-field="nome" data-align="center" data-sortable="true">Campus</th>
                        <th data-field="programacursos" data-align="center" data-sortable="true">Programas/Cursos</th>
                        <th data-field="actions" data-align="center" data-sortable="true">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{ path('campus_show', { 'id': entity.id }) }}">{{ entity.id}}</a></td>
                        <td>{{ entity.nome }}</td>
                        <td>
                            {% if entity.programacursos|length>0 %}
                                {% for cel in entity.programacursos %}
                                    <li>
                                    {{cel.descricao}}
                                    </li>
                                {% endfor %}
                            {% else %}
                                -----
                            {% endif%}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-pencil"><a href="{{ path('campus_edit', { 'id': entity.id }) }}">Editar</a></span>
                            <span class="glyphicon glyphicon-remove"><a href='#' onclick="document.deletarform.submit();">Deletar</a></span>
                        </td>
                </tr>
                </tbody>
            </table>
            {{ form_row(delete_form._token) }}
        </form>
        <a href="{{ path('campus_new') }}" class="btn btn-default">
            Novo Campus
        </a>
    </div>

{% endblock %}
