<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sistema Ficha Catalográfica!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
        'bundles/uftficha/css/bootstrap.css'
        'bundles/uftficha/css/bootstrap-theme.min.css'
        'bundles/uftficha/select2/select2.css'
        'bundles/uftficha/select2/select2-bootstrap.css'
        'bundles/uftficha/css/ficha.css'
        'bundles/uftficha/css/style.css'
        'bundles/uftficha/css/bootstrap-table.css'
        filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>#}
            {% javascripts
                'bundles/uftficha/js/jquery-2.1.1.min.js'
                'bundles/uftficha/js/bootstrap.min.js'
                'bundles/uftficha/js/bootstrap-table.js'
                'bundles/uftficha/js/bootstrap-table-pt-BR.js'
                'bundles/uftficha/select2/select2.js'
                'bundles/uftficha/select2/select2_locale_pt-BR.js'
                'bundles/uftficha/js/ficha.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar">
            <div class="container" style="background-color: #FFFFFF;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('_welcome') }}"><img src="{{ asset('bundles/uftficha/images/uft_reduzido.jpeg') }}" alt="UFT" class="iconlogocolor" height="40" width="60"/></a>
                    <a class="navbar-brand title-menu" href="{{ path('projeto_ficha_ficha') }}">Ficha Catalográfica</a>
                    {{ knp_menu_render('UFTFichaBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'UFTFichaBundle:Menu:knp_menu.html.twig'}) }}
                    {{ knp_menu_render('UFTFichaBundle:Builder:userMenu', {'currentClass': 'active', 'template': 'UFTFichaBundle:Menu:knp_menu.html.twig'}) }}
                </div>
                <div class="navbar-uft"></div>
            </div>
        </div>

        <div class="content" >
            <div class="container-fluid">
                <div class="row-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <span class="left">Sistema de Ficha Catalogr&aacutefica | Vers&atilde;o 1.0 | D&uacute;vidas: (63) 3232-8125 | Logado como: {{ app.user }}
            </span>
            <span class="right">
                © {{ 'now'|date('Y') }} <a href="http://www.uft.edu.br">DTI | Universidade Federal do Tocantins</a>
            </span>
        </div>

    </body>
</html>
