{% extends "::base.html.twig" %}

{% block content -%}
    <h1>Editar tipo de Programa</h1>
    <ul class="record_actions">
        <li>
            <a href="{{ path('tipoprogramacurso') }}">
                Voltar Para lista de Cursos
            </a>
        </li>
    </ul>


    <div class="well">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form role="form" action="{{ path('tipoprogramacurso_update', {'id': entity.id}) }}"
                      method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
                    <input type="hidden" name="_method" value="PUT"/>

                    <div class="form-group">
                        {{ form_errors(edit_form) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(edit_form.descricao,{'label': 'Descrição tipo de programa:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-4' , 'oninvalid': "setCustomValidity('Digite a descrição do tipo programa)" }}
                        )}}
                    </div>
                    <div class="form-group">
                        {{ form_row(edit_form.tipoTrabalho,{'label': 'Tipo de Trabalho vinculado: ','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : '.input-lg col-md-6' }}
                        )}}
                    </div>

                    {{ form_row(edit_form._token) }}

                    <div class=" .col-md-offset-4">
                        <div class="col-md-1 control-label">
                            {{ form_row(edit_form.submit, { 'label': 'Alterar','attr' : { 'class' : 'btn btn-default ' } }) }}
                        </div>
                    </div>
                </form>
                <div style="margin:22px">
                    <form role="form" action="{{ path('tipoprogramacurso_delete',{'id': entity.id}) }}"
                          method="post" {{ form_enctype(delete_form) }} >
                        <div class=" .col-md-offset-4">
                            <div class="col-md-1 ocntrol-label">
                                <input type="hidden" name="_method" value="DELETE"/>
                                {{ form_row(delete_form.submit, { 'label': 'Deletar','attr' : { 'class' : 'btn btn-default ' } }) }}
                                {{ form_row(delete_form._token) }}
                            </div>
                            <div class="col-md-1 control-label">

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
