{% extends "::base.html.twig" %}


{% block content -%}
    <h1>Novo Programa ou Curso</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('tipoprogramacurso') }}">
                Voltar para Lista
            </a>
        </li>
    </ul>

    <div class="well">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <form role="form" action="{{ path('tipoprogramacurso_create') }}" method="post" {{ form_enctype(form) }}
                      class="form-horizontal">
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.descricao,{'label': 'Descrição tipo de programa:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-4' , 'oninvalid': "setCustomValidity('Digite a descrição do tipo de programa')" }}
                        )}}

                    </div>
                    <div class="form-group">
                        {{ form_row(form.tipoTrabalho,{'label': 'Tipo de Trablaho:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-4' , 'oninvalid': "setCustomValidity('Selecione o tipo de trabalho')" }}
                        )}}
                    </div>

                    {{ form_row(form._token) }}

                    <div class=" .col-md-offset-4">
                        <div class="col-md-1 control-label">
                            {{ form_row(form.submit, { 'label': 'Salvar','attr' : { 'class' : 'btn btn-default ' } }) }}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}
