{% trans_default_domain 'FOSUserBundle' %}
<h1>Editar Perfil</h1>
<div class="well">
    <div class="row clearfix">
        <div class="col-md-offset-1 col-md-4 column">
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit ">
                <div class="form-group">

                    {{ form_row(form.username,{'label': 'Usuário:','label_attr' : { 'class' : 'col-md-2 control-label' }}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email,{'label': 'E-mail:','label_attr' : { 'class' : 'col-md-5 control-label' }}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.current_password,{'label_attr' : { 'class' : 'col-md-5 control-label' }}) }}
                </div>

             <div display="hidden">{{ form_rest(form) }}</div>
                <div>
                    <input type="submit" value="{{ 'Alterar'|trans }}" class="col-md-2 btn btn-default" />
                </div>
            </form>

        </div>
    </div>
</div>
