{% trans_default_domain 'FOSUserBundle' %}
<h1>Perfil</h1>
<div class="well">
    <div class="fos_user_user_show">
        <p>{{ 'Usuário'|trans }}: {{ user.username }}</p>
        <p>{{ 'E-mail'|trans }}: {{ user.email }}</p>
    </div>
    <div class="row">
        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default"> Alterar Dados    </a>
        <a href="{{ path('fos_user_change_password') }}" class="btn btn-default"> Alterar Senha    </a>
         <a href="{{ path('_welcome') }}"  class="btn btn-default"> Pagina Inicial    </a>
    </div>
</div>
