.ficha-notice {
    text-align: center;
    padding: 10px;
    background: #DFF2BF;
    border: 1px solid;
    color: #4F8A10;
    margin-bottom: 10px; }

form.ficha {
    font-size: 16px;
}

form.ficha div {
    clear: left;
    margin-bottom: 10px;
}

form.ficha label {
    float: left;
    margin-right: 100px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 10px;
}

form.ficha input[type="text"],form.ficha input[type="email"]{
    width: 500px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
}

form.ficha textarea {
    width: 500px;
    height: 150px;
    line-height: 26px;
    font-size: 20px;
}

form.ficha input[type="submit"] {
    margin-left: 110px;
    width: 508px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
}

form.ficha ul li {
    color: #ff0000;
    margin-bottom: 5px;
}