body {
    padding-top: 50px;
}

body > .navbar .brand {
    color: #000000;
    font-weight: bold;
    margin-left: 0;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

body#login {
    padding-bottom: 40px;
}

.navbar .brand:hover {
    color: #0099ff;
}

/* added to fix non clickable dropdown nested menus on mobile browsers APF-1384 */
.navbar .dropdown-backdrop {
	position: static;
}

#switchLocale {
    position: absolute;
    right: 10px;
    margin-top: 3px;
}

h1, h2 {
    margin-bottom: 10px;
}

legend {
    margin-bottom: 0;
}

/* FORMS */

.controls.readonly {
    padding-top: 5px;
}

.well.form-horizontal .form-actions {
    margin-bottom: 0;
}

.btn-group {
    margin-bottom: 10px;
}

.btn-group .btn, .form-actions .btn {
    margin-left: 5px;
}

#search {
    float: right;
    margin-top: -40px;
}

#search input[type="text"] {
    display: inline-block;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading {
    margin: 0 0 20px 0;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#login p {
    text-align: center
}

/* When using Wicket tag id can be overridden - using class here seems to more universal */
.login p {
    text-align: center
}

.span7 > form.well, .span7 > form.well {
    margin-top: 20px;
}

form input {
    width: 90%;
}

/* TABLES */

th.sorted a, th.sortable a {
    display: block;
}

.table th.order1 a {
    background-image: url(../../bundles/uftficha/images/arrow_down.png);
}

.table th.order2 a {
    background-image: url(../../bundles/uftficha/images/arrow_up.png);
}

.table th.sorted a, .table th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

div.exportlinks a {
    text-decoration: none;
}

div.exportlinks span {
    background-repeat: no-repeat;
    background-position: 1px 2px;
}

span.csv {
    background-image: url(../../bundles/uftficha/images/ico_file_csv.png);
}

span.excel {
    background-image: url(../../bundles/uftficha/images/ico_file_excel.png);
}

span.pdf {
    background-image: url(../../bundles/uftficha/images/ico_file_pdf.png);
}

span.xml {
    background-image: url(../../bundles/uftficha/images/ico_file_xml.png);
}

span.export {
    cursor: pointer;
    display: inline-block;
    padding: 0 4px 1px 20px;
}

span.pagebanner {
    display: block;
    margin: 0 0 0 10px;
    padding: 2px 4px 2px 0;
}

span.pagelinks {
    display: block;
    font-size: .95em;
    margin-bottom: 5px;
    margin-top: -18px;
    padding: 2px 0 2px 0;
    text-align: right;
    width: 80%;
}

/* FOOTER */
#footer {
    clear: both;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    border-top: 4px solid #f0f0f0;
    /* Amarelo border-top: 4px solid #FFBF00;*/
    text-align: center;
    background-color: white;
    color: #808080;
}

#footer a {
    color: #808080;
    text-decoration: none;
    margin-left: 5px;
}

#footer a:hover {
    text-decoration: underline;
}

#footer p {
    margin: 0;
}

#footer span.left, #footer span.right {
    text-align: center;
    margin: 5px;
    padding: 0 10px;
}

/* END FOOTER */

.hide {
    display: none;
}

.left {
    margin: 10px 10px 5px 0;
    float: left;
}

.right {
    margin: 10px 0 5px 10px;
    float: right;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}

/* Desktop
------------------------- */
@media (max-width: 980px) {

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    body {
        padding-top: 0;
    }

    body > .navbar .brand {
        margin-left: 10px;
    }

    #search {
        float: none;
        margin-top: 0;
    }
}

/* Wicket */
.table thead tr th.wicket_orderDown a {
    background-image: url(../../bundles/uftficha/images/arrow_down.png) !important;
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    /*padding-right: 15px;*/
}

.table thead tr th.wicket_orderUp a {
    background-image: url(../../bundles/uftficha/images/arrow_up.png) !important;
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
}

/* Fix for Bootstrap theme errors in PrimeFaces: http://forum.primefaces.org/viewtopic.php?f=9&t=19250&start=10 */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    background: url("") repeat-x scroll 50% 50% #CD0A0A;
    border: 1px solid #CD0A0A;
    color: #FFFFFF;
}

/*SGP*/
.sgpGrid tr, .sgpGrid td, .sgpGrid th{
    border: none !important;
}

/*Sobrepor botoes primefaces com bootstrap*/
.ui-state-default{
	background-image: none !important;
}

/*Verde*/
.btn-success{
	color: #ffffff !important;
	background-color: #5bb75b !important;
	*background-color: #51a351 !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff !important;
  background-color: #51a351 !important;
  *background-color: #499249 !important;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9 !important;
}

/*Amarelo*/
.btn-warning {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #faa732 !important;
  *background-color: #f89406 !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff !important;
  background-color: #f89406 !important;
  *background-color: #df8505 !important;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9 !important;
}

/*Todos*/
.btn-default,
.btn-primary,
.btn-info,
.btn-primary,
.btn-danger,
.btn-warning,
.btn-success{
	margin-left: 5px;
}

.bordasimples tr, .bordasimples td, .bordasimples th{border:1px solid #ddd !important;}

.navbar-uft {
  min-height: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #FFBF00;
  background-repeat: repeat-x;
}

.logo {
	width: 100%;
	text-align:center;
	margin-top: 50px;
}


@media (min-width: 768px) {
  .content {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  .content {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .content {
    margin-top: 40px;
  }
  
@media (min-width: 1860px) {
  .container {
    margin-top: 90px;
    width: 840px;
  }
}