<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block style %}
            {% stylesheets filter='cssrewrite'
        'bundles/uftficha/css/bootstrap.css'
        'bundles/uftficha/css/bootstrap-theme.min.css'
        'bundles/uftficha/select2/select2.css'
        'bundles/uftficha/select2/select2-bootstrap.css'
        'bundles/uftficha/css/ficha.css'
        '@UFTFichaBundle/Resources/public/css/bootstrap-table.css'  
            %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            <style type="text/css">
                input[type="radio"],
                input[type="checkbox"] {
                    margin: 10px 5px 0px 5px;
                    line-height: normal;
                }
                select[multiple]{
                    height: 250px
                }


                .navbar-inner {
                    background-color: red;
                    background-image: linear-gradient(to bottom, #113006, #447313);
                    background-repeat: repeat-x;
                    border: 1px solid ;
                    border-radius: 4px 4px 4px 4px;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
                    min-height: 40px;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                .navbar .brand {
                    display: block;
                    float: left;
                    padding: 10px 20px 10px;
                    margin-left: -20px;
                    font-size: 20px;
                    font-weight: 200;
                    color: white;
                    text-shadow: 0 0px 0 #ffffff;
                }

                .nav > li > a:hover,
                .nav > li > a:focus {
                    text-decoration: none;
                    background-color: #262626;
                }


            </style>
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">


                        <ul class="nav nav-pills">
                            <li >
                                <a href="{{ path('projeto_ficha_ficha') }}" class="brand">Ficha Catalográfica</a></a>
                            </li>
                            <li><a href="{{ path('_welcome') }}"   class="brand">Menu</a></li>
                            <li class=" pull-right">{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {#<div class=" pull-right col-md-3" style="margin: 10px;color: blue;">#}
                                {#{{ ' Bem Vindo '|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                                <a href="{{ path('fos_user_security_logout') }}" class="brand">
                                    {{ 'Sair'|trans({}, 'FOSUserBundle') }}
                                </a>
                                {#</div>#}
                                {% else %}
                                        <a href="{{ path('fos_user_security_login') }}"  class="brand" 
                                           >{{ 'Entrar'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}</li>
                                </ul>
                                {#<a href="{{ path('projeto_ficha_ficha') }}" class="brand">Ficha Catalográfica</a><br/>#}
                                {#<a href="{{ path('_welcome') }}">Menu</a>#}


                            </div>

                        </div>
                    </div>
                </div>
                <header class="jumbotron">
                    <div class="container">
                        <div class="text-center">
                            <h1>Ficha Catalográfica</h1>

                            <p>Sistema para criação de ficha catalográfica - Biblioteca UFT</p>
                        </div>
                    </div>
                </header>
                {% block script %}
                    {% javascripts  '@UFTFichaBundle/Resources/public/js/jquery-2.1.1.min.js'
    '@UFTFichaBundle/Resources/public/js/bootstrap.min.js'
    '@UFTFichaBundle/Resources/public/js/bootstrap-table.js'
    '@UFTFichaBundle/Resources/public/js/bootstrap-table-pt-BR.js'
    '@UFTFichaBundle/Resources/public/select2/select2.js'
    '@UFTFichaBundle/Resources/public/select2/select2_locale_pt-BR.js'
    '@UFTFichaBundle/Resources/public/js/ficha.js' %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>

                    {% endjavascripts %}
                {% endblock %}

                {% block body %}
                    <section class="section">
                        <div class="container-fluid">

                        {% block content %}{% endblock %}

                    </div>
                </section>
            {% endblock %}
            <div id="footer">
                <span class="left">Sistema de Ficha Catalogr&aacute;fica | Vers&atilde;o 1.0 | D&uacute;vidas: (63) 3232-8303 |            
                </span>
                <span class="right">
                    © {{ 'now'|date('Y') }} <a href="http://www.uft.edu.br">DTI | Universidade Federal do Tocantins</a>
                </span>
            </div>


        </body>
    </html>