{% extends "::base.html.twig" %}
{#{% extends 'UFTFichaBundle::layout.html.twig' %}#}


{% block content -%}
    <style>
        input[type="radio"], input[type="checkbox"]{
            width: 10%
        }
    </style>

{#    <h2 style="text-align: center">Dados para ficha catalográfica</h2>#}
{#<label id="msgError" class="col-md-12 column" style="color: #ff0000"  ></label>#}

    <div class="well">

        <div class="row clearfix">
            <div class="col-md-12 column">
                {% block form_start %}
                    {% spaceless %}

                        <form id="fichaForm" role="form" action="{{ path('projeto_ficha_nova') }}" method="post" {{ form_enctype(form) }}
                              class="form-horizontal">


                            <input type="hidden" name="_method" value=""/>
                            <input type="hidden" name="cdd" value="12"/>

                            {% block form_row %}


                                <div class="form-group">
                                    {{ form_errors(form) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.nomeAutor,{'label': 'Nome do autor:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-5' , 'placeholder': 'ex: João Pedro da', 'oninvalid': "setCustomValidity('Digite o nome do autor')"  }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.sobrenomeAutor,{'label': 'Último sobrenome:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-5' , 'placeholder': 'ex: Silva', 'oninvalid': "setCustomValidity('Digite o sobrenome do autor')" }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.tituloTrabalho,{'label': 'Título do Trabalho:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-8' , 'oninvalid': "setCustomValidity('Digite o título do trabalho')" }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.subtituloTrabalho,{'label': 'Subtítulo do Trabalho:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-8', 'oninvalid': "setCustomValidity('Digite o subtitulo do trabalho')"  }}
                                    ) }}
                                </div>

                                <div class="form-group">
                                    {{ form_row(form.campus,{'label': 'Câmpus ou Centro:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-4' ,'multiselect':'true', 'oninvalid': "setCustomValidity('Escolha o campus ou centro')"}}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.programa,{'label': 'Programa ou Curso:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-6' ,'multiselect':'true', 'disabled':'true','oninvalid': "setCustomValidity('Escolha o programa ou curso')"}}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.tipoTrabalho,{'label': 'Tipo de Trabalho:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-8' ,'multiselect':'true', 'disabled':'true','oninvalid': "setCustomValidity('Escolha o tipo de trabalho')"}}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.nomeOrientador,{'label': 'Nome do Orientador:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-6' , 'oninvalid': "setCustomValidity('Digite o nome do orientador(a)')" }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.sobrenomeOrientador,{'label': 'Sobrenome do Orientador:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-6' , 'oninvalid': "setCustomValidity('Digite o sobrenome do orientador(a)')" }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.orientadora,{'label': 'Orientadora:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-1' }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.nomeCoorientador,{'label': 'Nome do Coorientador:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-6' }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.sobrenomeCoorientador,{'label': 'Sobrenome do Coorientador:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-6' }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.coorientadora,{'label': 'Coorientadora:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-1' }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.ano,{'date_pattern': '<span style="display: none;">{{ day }}{{ month }}</span>{{ year }}','label': 'Ano:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-8' }}
                                    ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.numPaginas,{'label': 'N° de Páginas:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-1', 'oninvalid': "setCustomValidity('Digite um número maior que zero')" } }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.assuntos, {'label': 'Assuntos:','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-8', 'oninvalid': "setCustomValidity('Este campo não pode ficar em branco')" }}
                                    )}}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.tipoFonte, {'label': 'Tipo de fonte da saída: ','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-6' , 'oninvalid': "setCustomValidity('Escolha uma forma de impressão')"}}
                                    )}}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.tipoImpressao, {'label': 'Tipo impressão: ','label_attr' : { 'class' : 'col-md-3 control-label' },'attr' : { 'class' : 'col-md-6' , 'oninvalid': "setCustomValidity('Escolha uma forma de impressão')"}}
                                    )}}
                                </div>

                                <div class="form-group">
                                    {{ form_rest(form) }}
                                </div>


                                <button type="submit" id="btnSubmit" disabled="true" class="btn btn-default">Gerar Ficha</button>
                            {% endblock form_row %}
                        {% endspaceless %}
                    {% endblock form_start %}
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#formulario_tipoTrabalho').change(function () {
                if($('#formulario_tipoTrabalho').val() != ''){
                    $('#btnSubmit').removeAttr('disabled');
                }else{
                    alert('Selecione o Tipo de Trabalho');
                    $('#btnSubmit').attr('disabled','true');
                }


            });
            // Somente letras maiúsculas e minúsculas
                $('#formulario_campus').change(function () {
                    var val = $(this).val();
                    var alvo = 'formulario_programa';
                    $.ajax({
                        type: "POST",
                        url: "{{ path('campus_ajax_call') }}?campus_id=" + val,
                        success: function (data) {

                            // Remove current options
                            $('#' + alvo).removeAttr('disabled');
                            $('#' + alvo).html('');
                            $('#s2id_' + alvo + ' .select2-chosen').html('Selecione o Programa/Curso');
                            $.each(data, function (k, v) {
                                $('#' + alvo).append('<option value="' + v + '">' + k + '</option>');
                            });
                        }
                    });

                    return false;
                });
                $('#formulario_programa').change(function () {
                    var val = $(this).val();
                    var alvo = 'formulario_tipoTrabalho';
                    $.ajax({
                        type: "POST",
                        url: "{{ path('programa_ajax_call') }}?programa_id=" + val,
                        success: function (data) {

                            // Remove current options
                            $('#' + alvo).removeAttr('disabled');
                            $('#' + alvo).html('');
                            $('#s2id_' + alvo + ' .select2-chosen').html('Selecione o Tipo de Trabalho');
                            $('#' + alvo).append('<option value="">' +'----------------Selecione o Tipo de Trabalho-------------'+ '</option>');
                            $.each(data, function (k, v) {
                                $('#' + alvo).append('<option value="' + v + '">' + k + '</option>');
                            });
                        }
                    });

                    return false;
                });


        });


    </script>
{% endblock %}
