<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <STYLE type="text/css">



        #page_1 {position:relative; overflow: hidden;
            width:150mm;margin-left: 30mm;
            margin-right: 25mm;bottom: 0;
        }

        #page_1 #quadro {width:150mm;height:auto;}




        .ft0{font: bold 12pt '{{ficha.tipoFonte}}';line-height: 16px;}
        .ft1{font: bold 12pt '{{ficha.tipoFonte}}';line-height: 17px;}
        .ft2{font: 10pt '{{ficha.tipoFonte}}';line-height: 14pt;}
        .ft3{font: 10pt '{{ficha.tipoFonte}}';margin-left: 3px;line-height: 15px;}
        .ft4{font: bold 12pt '{{ficha.tipoFonte}}';line-height: 15px;}
        .ft5{font: 10pt '{{ficha.tipoFonte}}';line-height: 15px;}
        .ft6{font: bold 10pt '{{ficha.tipoFonte}}';line-height: 15px;}

        .p0{text-align: center;padding-left: 0px;margin-top: 0px;margin-bottom: 5px;}
        .p1{text-align: center;padding-left: 0px;margin-top: 1px;margin-bottom: 5px;}
        .p2{text-align: center;padding-left: 0px;margin-top: 0px;margin-bottom: 13px;}
        .p3{text-align: left;padding-left: 4px;margin-top: 20px;margin-bottom: 3px;}
        .p4{text-align: left;padding-left: 78px;padding-right: 0px;margin-top: 0px;margin-bottom: 5px;text-indent: 24px;}
        .p5{text-align: left;padding-left: 102px;margin-top: 1px;margin-bottom: 5px;}
        .p6{text-align: left;padding-left: 78px;padding-right: 0px;margin-top: 31px;margin-bottom: 5px;text-indent: 24px;}
        .p7{text-align: left;padding-left: 102px;margin-top: 0px;margin-bottom: 5px;}
        .p8{text-align: justify;padding-left: 78px;padding-right: 0px;margin-top: 31px;margin-bottom: 5px;text-indent: 24px;}
        .p9{text-align: right;padding-right: 40px;margin-top: auto;margin-bottom: 10px;}
        .p10{text-align: center;padding-left: 12px;padding-right: 9px;margin-top: 3px;margin-bottom:5px;}
        .p11{text-align: center;padding-left: 12px;padding-right: 9px;margin-top: 3px;margin-bottom:5px;}




    </STYLE></HEAD>


<BODY>
    <DIV id="page_1">



        <P class="p0 ft0">Dados Internacionais de Catalogação na Publicação (CIP)</P>
        <P class="p1 ft1">Sistema de Bibliotecas da Universidade Federal do Tocantins</P>
            {#        <P class="p2 ft1">Sistema de Bibliotecas (SISBIB/UFT)</P>#}
        <div id="quadro" style="border-top: 1px solid;border-bottom: 1px solid;border-color: black;">
            <P class="p3 ft2">{{ cutter }} &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;{{ficha.sobreNomeAutor}}, {{ficha.nomeAutor}}.</P>
            <P class="p4 ft2">{{ficha.tituloTrabalho}}{% if ficha.subTituloTrabalho != '' and ficha.subTituloTrabalho != " " %}: {{ficha.subTituloTrabalho}} {% endif %}. / {{ficha.nomeAutor}} {{ficha.sobreNomeAutor}}. – {{ficha.campus}}, TO, {{ficha.ano['year']}}.</P>
            <P class="p5 ft2">{{ficha.numPaginas}} f.</P>
            <P class="p6 ft2">{{ficha.tipoTrabalho}} - Universidade Federal do Tocantins – Câmpus Universitário de {{ficha.campus}} - Curso de {{ficha.programa}}, {{ficha.ano['year']}}.</P>
            <P class="p7 ft2">Orientador{% if ficha.orientadora == 1 %}a {% endif %}: {{ficha.nomeOrientador}} {{ficha.sobreNomeOrientador}}</P>
            <P class="p7 ft2">{% if ficha.nomeCoorientador|length>0 %}Coorientador{% if ficha.coorientadora == 1 %}a {% endif %}: {{ficha.nomeCoorientador}} {{ficha.sobreNomeCoorientador}}{% endif %}</P>
            <P class="p8 ft2"><SPAN class="ft2">1.</SPAN><SPAN class="ft3">{{ficha.assuntos[1]}}. {% if ficha.assuntos[2]|length>0 %}2. {{ficha.assuntos[2]}}. {% endif %} {% if ficha.assuntos[3]|length>0 %} 3. {{ficha.assuntos[3]}}. {% endif %}  {% if ficha.assuntos[4]|length>0 %}4. {{ficha.assuntos[4]}}.{% endif %} I. Título</SPAN></P>
            <P class="p9 ft4">CDD {{ ficha.programa.cdd }}</P>
        </div>
        <div>
        <P class="p10 ft5">TODOS OS DIREITOS RESERVADOS – A reprodução total ou parcial, de qualquer forma ou por qualquer meio deste documento é autorizado desde que citada a fonte. A violação dos direitos do autor (Lei nº 9.610/98) é crime estabelecido pelo artigo 184 do Código Penal.</P>
        <P class="p11 ft6">Elaborado pelo sistema de geração automatica de ficha catalográfica da UFT com os dados fornecidos pelo(a) autor(a).</P>

        </div>
       </DIV>
</BODY>