{% extends "::base.html.twig" %}
{% block content -%}
    <h1>Editar Tipos de Trabalho</h1>
    <ul class="record_actions">
        <li>
            <a href="{{ path('tipotrabalho') }}">
                Voltar para lista
            </a>
        </li>
    </ul>

    <div class="well">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form role="form" action="{{ path('tipotrabalho_update',{'id': entity.id}) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
                    <input type="hidden" name="_method" value="PUT"/>

                    <div class="form-group">
                        {{ form_errors(edit_form) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(edit_form.descricao,{'label': 'Descricao do trabalho:','label_attr' : { 'class' : 'col-md-2 control-label' },'attr' : { 'class' : 'col-md-4' , 'oninvalid': "setCustomValidity('Digite a descrição do trabalho')" }}
                        )}}
                    </div>
                    {{ form_row(edit_form._token) }}
                    <div class="col-sm-offset-1">
                        <div class="col-sm-1 control-label">
                            {{ form_row(edit_form.submit, { 'label': 'Alterar','attr' : { 'class' : 'btn btn-default ' }}) }}
                        </div>
                        <div class="col-md-1 control-label">

                        </div>
                    </div>

                </form>
                <div style="margin:22px">
                    <form role="form" action="{{ path('tipotrabalho_delete',{'id': entity.id}) }}"
                          method="post" {{ form_enctype(delete_form) }}
                          class="form-horizontal">
                        <div class=" .col-md-offset-4">
                            <div class="col-md-1 ocntrol-label">
                                <input type="hidden" name="_method" value="DELETE"/>
                                {{ form_row(delete_form.submit, { 'label': 'Deletar','attr' : { 'class' : 'btn btn-default ' }}) }}
                                {{ form_row(delete_form._token) }}
                            </div>
                            <div class="col-md-1 control-label">

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
