{% extends "::base.html.twig" %}
{% block content -%}
    <h1>Tipo de Trabalho</h1>
    <div class="well">
        <table id="table-pagination" data-toggle="table" data-id-field="id" data-pagination="true" data-page-size="10"
               data-search="true">
            <thead>
            <tr>
                <th data-field="codigo" data-sortable="true">Código</th>
                <th data-field="descricao" data-align="center" data-sortable="true">Descrição</th>
                <th data-field="actions" data-align="center" data-sortable="true">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('tipotrabalho_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.descricao }}</td>
                    <td>
                        <span class="glyphicon glyphicon-search"><a
                                    href="{{ path('tipotrabalho_show', { 'id': entity.id }) }}">Vizualizar</a></span>
                        <span class="glyphicon glyphicon-pencil"><a
                                    href="{{ path('tipotrabalho_edit', { 'id': entity.id }) }}">Editar</a></span>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('tipotrabalho_new') }}" class="btn btn-default">
            Novo tipo de trabalho
        </a>
    </div>


{% endblock %}
