{% extends "::base.html.twig" %}

{% block content -%}
    <h1>Tipos de Trabalho</h1>
    <ul class="record_actions">
        <li>
            <a href="{{ path('tipotrabalho') }}">
                Voltar para lista
            </a>
        </li>
    </ul>


    <div class="well">
        <form role="form" name="deletarform" action="{{ path('tipotrabalho_delete',{'id': entity.id}) }}"
              method="post" {{ form_enctype(delete_form) }}>
            <input type="hidden" name="_method" value="DELETE"/>

            <table id="table-campus" data-toggle="table" data-pagination="true" data-page-size="10" data-search="true">
                <thead>
                <tr>
                    <th data-field="codigo" data-sortable="true">Código</th>
                    <th data-field="descricao" data-align="center" data-sortable="true">Descrição</th>
                    <th data-field="acoes" data-align="center" data-sortable="true">Ações</th>
                </tr>
                </thead>
                <tbody>
                <td>{{ entity.id }}</td>
                <td>{{ entity.descricao }}</td>
                <td>
                    <span class="glyphicon glyphicon-pencil"><a href="{{ path('tipotrabalho_edit', { 'id': entity.id }) }}">Editar</a></span>
                    <span class="glyphicon glyphicon-remove"><a href='#' onclick="document.deletarform.submit();">Deletar</a></span>
                </td>
                </tbody>


            </table>
            {{ form_row(delete_form._token) }}
        </form>
        <a href="{{ path('tipotrabalho_new') }}" class="btn btn-default">
            Novo Tipo de Trabalho
        </a>
    </div>
{% endblock %}
