{% extends "::base.html.twig" %}



{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="well">
        <div class="row clearfix">
            <div class="col-md-offset-4 col-md-4 column ">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <label for="username">{{ 'Login'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'Senha'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" />

                    </div>

                    <div class="form-group">
                        <label for="remember_me">{{ 'Permenecer logado'|trans }}</label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>
                    <input type="submit" id="_submit" name="_submit" value="{{ 'Logar'|trans }}" />
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
